<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Management - Edit</title>
</head>
<body>
  <%- include('partials/header') %>
  <%- include('partials/menu') %>

  <h1>Edit User</h1>
  
  <h3>Hello <%= user.user_name %></h3>

  <%- include('partials/footer') %>
</body>
</html>
